<app-header></app-header>
<main>
    <section class="container-up">
        <img src="./assets/images/slide-bg.jpg" alt="">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae nesciunt alias
            eveniet dignissimos nihil beatae.
        </p>
    </section>
    <section class="container-down">
        <div class="items-down">
            <h3 class="title-down-left">Lorem ipsum</h3>
            <div class="items-down-content">
                <img class="img-down-left"src="./assets/images/icon.svg" alt="">

                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit natus, itaque perferendis
                    repudiandae
                    eaque suscipit quibusdam iure ratione eveniet.
                </p>
            </div>
        </div>
        <div class="items-down">
            <h3 class="title-down-center">Lorem ipsum</h3>
            <div class="items-down-content items-down-content-center">
                <img class="img-down-center" src="./assets/images/icon.svg" alt="">
                <p class = "items-down-content-p">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit natus, itaque perferendis
                    repudiandae
                    eaque suscipit quibusdam iure ratione eveniet.
                </p>
            </div>
        </div>
        <div class="items-down">
            <h3 class="title-down-right">Lorem ipsum</h3>
            <div class="items-down-content">
                <img class="img-down-right" src="./assets/images/icon.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit natus, itaque perferendis
                    repudiandae
                    eaque suscipit quibusdam iure ratione eveniet.
                </p>
            </div>
        </div>

    </section>
</main>
<app-footer></app-footer>